.installed
build-testing/
lottie-qml/

build/CMakeCache.txt
build/CMakeFiles/
build/Makefile
build/applets/
build/cmake_install.cmake
build/config-mycroft.h
build/containments/
build/import/
build/install_manifest.txt
build/mycroft-gui-app
build/mycroft-gui-app_autogen/
build/mycroft-gui-core-loader
build/org.mycroft.mark2-look-and-feel-metadata.json
build/org.mycroft.mark2.appdata.xml
build/prefix.sh
build/qml.qrc.depends
build/qrc_qml.cpp
build/regenerateindex.sh

