[Desktop Entry]
Exec=mycroft-gui-app --width 400 --height 800 --hideTextInput --fontSize 20
Icon=kmenuedit
Type=Application
StartupNotify=true

Name=Mycroft Device Simulator
