[Desktop Entry]
Exec=mycroft-gui-app --width 400 --height 800 --hideTextInput --fontSize 8
Icon=kmenuedit
Type=Application
StartupNotify=true

Name=Mycroft Device Simulator (400,800)
